/* ------------------------ */
/* -                      - */
/* -         SCSS         - */
/* -   (view on GitHub)   - */
/* -                      - */
/* ------------------------ */

// Screen sizes (based on Chrome dev tools)
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop-s: 1440px;
$desktop-m: 1920px;
$desktop-l: 2560px;

// Sizing
$footer-height: 350px;
$container-1-padding: 4%;
$container-2-padding: 8%;
$container-3-padding: 16%;

// Colors
$black: #000;
$white: #fff;
$super-light-grey: #f6f7f9;
$light-grey: #ebecee;
$lightish-grey: #d3d4d7;
$grey:  #a3a3a3;
$dark-grey: #727579;
$navy: #191a1d;
$coral: #e35768;
$blue: #7bc9d1;
$cerner-blue: #179dd6;
$truman-purple: #6f2d91;
$truman-gold: #c0b38c;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
$barlow: Barlow, Verdana, Arial, Helvetica, sans-serif;

// Mixins
@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  -ms-border-radius: $property;
  -o-border-radius: $property;
  border-radius: $property;
}

@mixin border-right-radius($property) {
  -webkit-border-top-right-radius: $property;
  -webkit-border-bottom-right-radius: $property;
  -moz-border-top-right-radius: $property;
  -moz-border-bottom-right-radius: $property;
  -ms-border-top-right-radius: $property;
  -ms-border-bottom-right-radius: $property;
  -o-border-top-right-radius: $property;
  -o-border-bottom-right-radius: $property;
  border-top-right-radius: $property;
  border-bottom-right-radius: $property;
}

@mixin border-left-radius($property) {
  -webkit-border-top-left-radius: $property;
  -webkit-border-bottom-left-radius: $property;
  -moz-border-top-left-radius: $property;
  -moz-border-bottom-left-radius: $property;
  -ms-border-top-left-radius: $property;
  -ms-border-bottom-left-radius: $property;
  -o-border-top-left-radius: $property;
  -o-border-bottom-left-radius: $property;
  border-top-left-radius: $property;
  border-bottom-left-radius: $property;
}




/* ================================================================ */




/* ------------------- */
/* -                 - */
/* -     GENERAL     - */
/* -                 - */
/* ------------------- */

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

body {
  background-color: $black;
  height: 100%;
  margin: 0;
  padding: 0;
}




/* ---------- */
/* -  Text  - */
/* ---------- */

h1 {
  border-bottom: 2px solid $coral;
  color: $grey;
  display: inline-block;
  font: 600 1em/1 $barlow;
  margin: 0;
  padding: 5px 35px 5px 0;
}

h2 {
  color: $navy;
  font: 700 2.8em/1 $barlow;
  margin: 0;
  padding: 5px 0;
}

h3 {
  color: $white;
  font: 500 1.75em/1 $barlow;
  margin: 0;
  padding: 12px 0;
}

p {
  color: $navy;
  font: 300 1.1em/1.4 $barlow;
  margin: 0;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}

li {
  font: 300 1em/1.25 $barlow;
  padding: 0 0 8px 0;
  text-indent: -10px;
}

li::before {
  content: "- ";
  color: $navy;
}

.underline {
  color: $blue;
  margin: 0 0 0 auto;
  padding: 1px 0;
  position: relative;
  text-decoration: none;
  transition: opacity .4s cubic-bezier(.51, .92, .24, 1);

  &::after {
    --scale: 0;
    background-color: $blue;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transform: scaleX(var(--scale));
    transform-origin: var(--x) 50%;
    transition: transform .4s cubic-bezier(.51, .92, .24, 1);
  }

  &:hover::after {
    --scale: 1;
  }
}

.coral {
  color: $coral;

  &::after {
    background-color: $coral;
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - for tablet - */
@media screen and (min-width: $tablet) {
  h1 {
    margin: 0 0 0 -20px;
  }
}




/* ---------------- */
/* -  Containers  - */
/* ---------------- */

#content-container {
  background-color: $white;
  min-height: 100%;
  overflow: auto;
  padding: 135px 0 $footer-height + 75px 0;
  position: relative;
}

.shadow {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.125);
}

.container-1-padding {
  padding: 0 $container-1-padding;
}

.container-2-padding {
  padding: 0 $container-2-padding;
}

.container-3-padding {
  padding: 0 $container-3-padding;
}


/* ------- */
/*  media  */
/* ------- */

/* - for tablet - */
@media screen and (min-width: $tablet) {
  .container-2-padding {
    padding: 0 $container-2-padding + 6%;
  }
  
  .container-3-padding {
    padding: 0 $container-3-padding + 4%;
  }
}

/* - for laptop - */
@media screen and (min-width: $laptop) {
  .container-1-padding {
    padding: 0 $container-1-padding - 1%;
  }
  
  .container-3-padding {
    padding: 0 $container-3-padding + 6%;
  }
}

/* - for small desktop - */
@media screen and (min-width: $desktop-s) {
  .container-2-padding {
    padding: 0 $container-2-padding + 8%;
  }
  
  .container-3-padding {
    padding: 0 $container-3-padding + 8%;
  }
}

/* - for medium desktop - */
@media screen and (min-width: $desktop-m) {
  .container-1-padding {
    padding: 0 $container-1-padding + 2%;
  }

  .container-2-padding {
    padding: 0 $container-2-padding + 12%;
  }
  
  .container-3-padding {
    padding: 0 $container-3-padding + 12%;
  }
}

/* - for large desktop - */
@media screen and (min-width: $desktop-l) {
  .container-1-padding {
    padding: 0 $container-1-padding + 4%;
  }

  .container-2-padding {
    padding: 0 $container-2-padding + 16%;
  }
  
  .container-3-padding {
    padding: 0 $container-3-padding + 16%;
  }
}




/* ----------- */
/* -  Grids  - */
/* ----------- */

/* grid 2
  mobile: 1
          2
  tablet+: 1 2
*/
.grid-2-container {
  display: grid;
  grid-gap: 40px;
  grid-template-areas:
    auto;
}

/* grid 4
  mobile: 1 2
          3 4
  tablet+: 1 2 3 4
*/
.grid-4-container {
  display: grid;
  grid-gap: 40px;
  grid-template-areas:
    auto auto;
}

.grid-4-same-size {
  grid-template-columns: repeat(2, 1fr);
}

/* grid 6
  mobile: 1 2 3
          4 5 6
  tablet+: 1 2 3 4 5 6
*/
.grid-6-container {
  display: grid;
  grid-gap: 40px;
  grid-template-areas:
    auto auto auto;
}

.grid-6-same-size {
  grid-template-columns: repeat(3, 1fr);
}

/* grid 2-1
  mobile: 2
          1
  tablet+: 1 2
*/
.grid-2-1-item1 { grid-area: one; }
.grid-2-1-item2 { grid-area: two; }

.grid-2-1-container {
  display: grid;
  grid-template-areas:
    'two'
    'one';
}

/* grid 2-1
  mobile: 2
          1
  tablet+: 1 1 2
*/
.grid-2-1-1-item1 { grid-area: one; }
.grid-2-1-1-item2 { grid-area: two; }

.grid-2-1-1-container {
  display: grid;
  grid-template-areas:
    'two'
    'one';
}

/* grid 1-1-2-3
  mobile: 1
          2
          3
  tablet+: 1 1
           2 3
*/
.grid-1-1-2-3-item1 { grid-area: one; }
.grid-1-1-2-3-item2 { grid-area: two; }
.grid-1-1-2-item3 { grid-area: three; }

.grid-1-1-2-3-container {
  display: grid;
  grid-gap: 40px;
  grid-template-areas:
    'one'
    'two'
    'three';
}

/* grid cerner
  mobile: 1
          2
          3
          4
  tablet: 1 3
          2 3
          4 3
  laptop: 1 3
          2 3
          4 4
  desktop+: 1 3
            2 4
*/
.grid-cerner-item1 {
  grid-area: one; 
  height: auto;
}
.grid-cerner-item2 {
  height: auto;
  grid-area: two;
}
.grid-cerner-item3 { grid-area: three; }

.grid-cerner-container {
  display: grid;
  // grid-gap: 30px;
  grid-template-areas:
    'one'
    'two'
    'three';
}


/* ------- */
/*  media  */
/* ------- */

/* - for tablet - */
@media screen and (min-width: $tablet) {
  .grid-2-container {
    grid-template-columns:
      auto auto;
  }

  .grid-2-same-size {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-4-container {
    grid-template-columns:
      auto auto auto auto;
  }

  .grid-4-same-size {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-6-container {
    grid-template-columns:
      auto auto auto auto auto auto;
  }

  .grid-6-same-size {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-2-1-container {
    grid-template-areas:
      'one two';
  }

  .grid-2-1-1-container {
    grid-template-areas:
      'one one two';
  }

  .grid-1-1-2-3-container {
    grid-template-areas:
      'one one'
      'two three';
  }

  .grid-cerner-container {
    grid-template-areas:
      'one two'
      'three two';
  }
}

/* - for laptop - */
@media screen and (min-width: $laptop) {
  .grid-cerner-container {
    grid-template-areas:
      'one two'
      'three three';
  }
}

/* - for small desktop - */
@media screen and (min-width: $desktop-s) {
  .grid-cerner-container {
    grid-template-areas:
      'one two'
      'one three';
  }
}




/* ---------- */
/* -  Felx  - */
/* ---------- */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -20px -20px -20px;
}

.flex-item {
  padding: 30px 20px;
}


/* ------- */
/*  media  */
/* ------- */

/* - for tablet and bigger - */
@media screen and (min-width: $tablet) {
  .flex-item {
    flex-basis: 50%;
  }
}




/* ------------- */
/* -  Buttons  - */
/* ------------- */

/* general */
.rounded-button {
  border: solid 1px $navy;
  @include border-radius(999px);
  color: $navy;
  display: inline-block;
  font: 300 1.1em/1 $barlow;
  margin: 30px auto;
  padding: 17px 35px 18px 35px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.rounded-button:hover {
  background-color: $navy;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  color: $white;
}

/* coral & white buttons */
.coral-white-button {
  border-color: $coral;
  color: $coral;
}

.coral-white-button:hover {
  background-color: $coral;
  color: $white;
}

/* coral & navy buttons */
.coral-navy-button {
  border-color: $coral;
  color: $coral;
}

.coral-navy-button:hover {
  background-color: $coral;
  color: $navy;
}

/* blue & white buttons */
.blue-white-button {
  border-color: $blue;
  color: $blue;
}

.blue-white-button:hover {
  background-color: $blue;
  color: $white;
}

/* blue & navy buttons */
.blue-navy-button {
  border-color: $blue;
  color: $blue;
}

.blue-navy-button:hover {
  background-color: $blue;
  color: $navy;
}

/* make display block */
.block-button {
  display: block;
}


/* ------- */
/*  media  */
/* ------- */

/* - only for devices without hover - */
@media (any-hover: none) {
  .rounded-button {
    background-color: $navy;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    color: $white;
  }

  .coral-white-button {
    background-color: $coral;
    color: $white;
  }

  .coral-navy-button {
    background-color: $coral;
    color: $navy;
  }

  .blue-white-button {
    background-color: $blue;
    color: $white;
  }

  .blue-navy-button {
    background-color: $blue;
    color: $navy;
  }
}




/* ----------------- */
/* -  Collapsible  - */
/* ----------------- */

.collapsible {
  background-color: $navy;
  border: none;
  color: $blue;
  cursor: pointer;
  display: block;
  font: 500 1.3em/1 $barlow;
  margin: 0 0 5px 0;
  outline: none;
  padding-left: 16px;
  text-align: left;
  text-indent: -16px;
  transition: all 0.25s ease-out;
}

.collapsible::before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  content: ' ';
  display: inline-block;
  margin-right: .7rem;
  @include transform(translateY(-2px));
  transition: all .2s ease-out;
  vertical-align: middle;
}

.collapsible-active::before {
  @include transform(rotate(90deg) translateX(-3px));
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  padding-left: 17px;
  transition: all .25s ease-in-out;
}




/* ----------- */
/* -  Other  - */
/* ----------- */

.intro-container {
  padding-bottom: 25px;
  padding-top: 25px;
}

.shadow {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.125);
}

.light-shadow {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.0625);
}

.tags {
  list-style-type: none;
  margin: 10px 0 -8px 0;
  padding: 0;

  li {
    border: solid 1px $dark-grey;
    @include border-radius(6px);
    color: $dark-grey;
    display: inline-block;
    font: 400 0.8em/1 $barlow;
    margin: 0 4px 8px 0;
    padding: 4px 5px 5px 5px;
    text-indent: 0;
  }

  li::before {
    content: "";
  }
}




/* ================================================================ */




/* --------------- */
/* -             - */
/* -     NAV     - */
/* -             - */
/* --------------- */

nav {
  background-color: $white;
  height: 0;
  margin: 0;
}

#navbar {
  display: inline-block;
  fill: $black;
  filter: invert(1);
  margin: 0;
  mix-blend-mode: difference;
  position: fixed;
  width: 100%;
  z-index: 999;
}

#home-logo {
  #ar-tab-logo {
    float: left;
    transition: all 0.2s ease-in-out;
    width: 65px;
  }

  #andrew, #richter {
    color: $black;
    float: left;
    font: italic 800 1.75em/1 $barlow;
    opacity: 0;
    transition: all 0.25s ease;
    visibility: hidden;
  }

  #andrew {
    padding-left: .5em;
    @include transform(translateY(125%) translateX(1.5em));
  }

  #richter {
    padding-left: .2em;
    @include transform(translateY(125%) translateX(2.5em));
  }
}

#home-logo:hover #andrew,
#home-logo:hover #richter {
  opacity: 1;
  @include transform(translateY(125%) translateX(0));
  visibility: visible;
}




/* ------------------------ */
/* -  Menu Icon Inactive  - */
/* ------------------------ */

.menu-icon {
  cursor: pointer;
  display: in-line;
  float: right;
  @include transform(translateY(150%));
}

/* bars */
#bar-top, #bar-bottom {
  background-color: $black;
  @include border-radius(999px);
  height: 2px;
  margin: 6px 0;
  transition: all 0.2s ease-in-out;
  width: 28px;
}


/* ------- */
/*  media  */
/* ------- */

/* - only for devices with hover - */
@media (any-hover: hover) {
  /* offset bars */
  .menu-icon:hover {
    #bar-top {
      @include transform(translateX(-5px));
    }

    #bar-bottom {
      @include transform(translateX(5px));
    }
  }
}




/* ---------------------- */
/* -  Menu Icon Active  - */
/* ---------------------- */

/* cross bars */
.icon-change {
  #bar-top {
    @include transform(translateY(4px) rotate(45deg));
  }

  #bar-bottom {
    @include transform(translateY(-4px) rotate(-45deg));
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - only for devices with hover - */
@media (any-hover: hover) {
  /* single bar */
  .icon-change:hover {
    #bar-top {
      @include transform(translateY(4px));
    }

    #bar-bottom {
      @include transform(translateY(-4px));
    }
  }
}




/* ------------- */
/* -  Overlay  - */
/* ------------- */

#nav-overlay {
  background-color: $navy;
  height: 0%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 998;
}

#nav-overlay-grid {
  grid-gap: 20px;
  margin: 150px 0 100px 0;
}

#nav-image {
  @include border-radius(50%);
  width: 125px;
}

#nav-overlay-info {
  text-align: right;

  h1 {
    border: none;
    color: $blue;
    display: block;
    font: 500 1.25em/1 $barlow;
    margin: 20px 0 10px 0;
  }

  .underline {
    color: $white;
    font: 100 1em/1 $barlow;
    margin-top: 30px;

    &::after {
      background-color: $white;
    }
  }
}

#nav-overlay-info-display {
  display: none;
}

#nav-overlay-links {
  display: grid;
  grid-auto-flow: row;
	grid-gap: 18px;
  text-align: right;

  .underline {
    color: $white;
    font: 600 2.9em/1 $barlow;
    opacity: .7;
    padding: 8px 0px;

    &::after {
      background-color: $white;
      height: 4px;
    }

    &:hover {
      opacity: 1;
    }
  }

  #active {
    opacity: 1;
  }
}

/* prevent background scrolling */
.noscroll {
  overflow: hidden;
}


/* ------- */
/*  media  */
/* ------- */

/* - for tablet - */
@media screen and (min-width: $tablet) {
  #nav-overlay-info {
    text-align: left;
  }
  
  #nav-overlay-info-display {
    display: block;
  }
}




/* ================================================================ */




/* ------------------ */
/* -                - */
/* -     FOOTER     - */
/* -                - */
/* ------------------ */

/* --------- */
/* -  Sub  - */
/* --------- */

footer {
  background-color: $navy;
  bottom: 0;
  clear: both;
  height: $footer-height;
  margin-top: -$footer-height;
  position: relative;
  width: 100%;

  #footer-contact-container {
    background-color: $light-grey;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;

    h1 {
      border: none;
      color: $dark-grey;
      display: block;
      font: italic 600 3.1em/1 $barlow;
      margin: 0;
      padding: 0;
    }

    .rounded-button {
      margin: 20px 0 0 0;
    }
  }

  #footer-links-external {
    border-bottom: 1px solid $dark-grey;
    display: table;
    padding: 25px 0;
    width: 100%;

    h2 {
      color: $grey;
      display: table-cell;
      font: 200 1em/1 $barlow;
      vertical-align: middle;
    }

    .icon {
      color: $grey;
      display: table-cell;
      float: right;
      height: 25px;
      margin-left: 13px;
      transition: all 0.2s ease-in-out;
    }

    .icon:hover {
      color: $light-grey;
    }
  }
}




/* ------------------------------- */
/* -  Experience and Work Links  - */
/* ------------------------------- */

#exp-work-links-container {
  padding-bottom: 40px;
  padding-top: 80px;
  text-align: center;

  .grid-2-item {
    background-color: $light-grey;
    @include border-radius(10px);
    box-shadow: inset 0 0 20px rgba(0,0,0,.0625);
    padding: 30px;  
    
    h2 {
      color: $coral;
      font-size: 1.85em;
      text-align: left;
    }

    .exp-work-graphic {
      display: block;
      padding: 10px 25px 0 25px;
      transition: all .4s ease-in-out;
      width: 100%;
    }

    p {
      text-align: left;
    }

    .rounded-button {
      margin: 15px 0 0 0;
    }
  }
}

#cerner-logo-2 {
  fill: $grey;
}

#cerner-logo-2:hover {
  fill: $cerner-blue;
}


/* ------- */
/*  media  */
/* ------- */

/* - for large mobile - */
@media screen and (min-width: $mobile-l) {
  #exp-work-links-container {
    .grid-2-item {
      .exp-work-graphic {
        padding: 25px 60px 15px 60px;
      }
    }
  }
}

/* - for tablet - */
@media screen and (min-width: $mobile-l) {
  #exp-work-links-container {
    .grid-2-item {
      .exp-work-graphic {
        padding: 15px 25px 5px 25px;
      }
    }
  }
}

/* - for laptop - */
@media screen and (min-width: $laptop) {
  #exp-work-links-container {
    .grid-2-item {
      .exp-work-graphic {
        padding: 15px 60px 5px 60px;
      }
    }
  }
}

/* - for small desktop - */
@media screen and (min-width: $desktop-s) {
  #exp-work-links-container {
    .grid-2-item {
      .exp-work-graphic {
        padding: 20px 80px 5px 80px;
      }
    }
  }
}

/* - for medium desktop - */
@media screen and (min-width: $desktop-m) {
  #exp-work-links-container {
    .grid-2-item {
      .exp-work-graphic {
        padding: 30px 110px 5px 110px;
      }
    }
  }
}




/* ================================================================ */




/* ----------------- */
/* -               - */
/* -     INDEX     - */
/* -               - */
/* ----------------- */

/* ----------- */
/* -  Intro  - */
/* ----------- */

#index-intro-container {
  padding-bottom: 185px;
  padding-top: 25px;
  text-align: center;
  
  h1 {
    border: none;
    font: italic 500 1.75em/1.25 $barlow;
    margin: 0;
    padding: 4px 0;
  }

  h2 {
    font: 600 3em/1 $barlow;
    padding: 2px 0 9px 0;
  }

  .rounded-button {
    background-color: $coral;
    border-color: $coral;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    color: $white;
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - only for devices without hover - */
@media (any-hover: none) {
  #index-intro-container {
    .rounded-button {
      background-color: $coral;
      color: $white;
    }
  }
}

/* - for tablet - */
@media screen and (min-width: $tablet) {
  #index-intro-container {
    padding-top: 45px;

    h2 {
      font-size: 3.5em;
    }
  }
}




/* ------------------- */
/* -  Image & About  - */
/* ------------------- */

#index-image-container {
  background-color: $navy;

  #index-image {
    margin-top: -160px;
    max-width: 100%;
    position: relative;
    text-align: center;
  }

  #index-about-grid {
    padding-bottom: 50px;
    padding-top: 50px;

    p {
      color: $light-grey;
    }

    .grid-2-item {
      margin: auto 0;
    }
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - smaller than tablet - */
@media screen and (max-width: $tablet) {
  #index-image {
    padding: 0 !important;
  }
  #index-about-grid {
    .rounded-button {
      margin-top: 0;
    }
  }
}




/* ================================================================ */




/* ----------------- */
/* -               - */
/* -     ABOUT     - */
/* -               - */
/* ----------------- */

#about-grid {
  @include border-radius(10px);
  grid-gap: 0;

  #about-content {
    background-color: $light-grey;
    @include border-left-radius(10px);
    padding: 30px;
  }

  #about-image-container {
    width: 100%;

    #about-image {
      @include border-right-radius(10px);
      display: block;
      height: 100%;
      object-fit: cover;
      margin: 0;
      width: 100%;
    }
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - smaller than laptop - */
@media screen and (max-width: $laptop) {
  #about-grid {
    #about-content {
      @include border-radius(10px);
    }

    #about-image-container {
      #about-image {
        display: none;
      }
    }
  }
}





/* ================================================================ */




/* ---------------------- */
/* -                    - */
/* -     EXPERIENCE     - */
/* -                    - */
/* ---------------------- */

#experience-work-grid {
  padding-bottom: 100px;
  padding-top: 50px;

  #experience-work-cerner,
  #experience-work-lavner,
  #experience-work-website {
    background-color: $light-grey;
    @include border-radius(5px);
    padding: 25px;
  }

  h1 {
    border: none;
    color: $navy;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    white-space: pre;
  }

  h2 {
    color: $coral;
    font-size: 2em;
    padding: 3px 0 20px 0;
  }

  p {
    padding: 0 0 10px 0;
  }

  h1 .underline {
    color: $navy;

    &::after {
      background-color: $navy;
    }
  }

  #experience-work-cerner-logo {
    #cerner-logo-2 {
      margin: auto;
      max-height: 225px;
      padding: 10px 0 20px 0;
      transition: all .4s ease-in-out;
      width: 100%;
    }
  }
}

#experience-ed-container {
  background-color: $navy;
  padding-bottom: 75px;
  padding-top: 75px;

  h1 {
    border: none;
    color: $grey;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    white-space: pre;
  }

  h2 {
    color: $white;
    font-size: 2em;
    padding: 3px 0 20px 0;
  }

  h3 {
    color: $blue;
    font-size: 1.3em;
    padding-bottom: 5px;
  }

  p {
    color: $white;
    font-size: 1em;
    padding: 0 0 5px 0;
  }

  .tags {
    margin-left: 17px;
  }

  #experience-ed-grid {
    grid-gap: 40px;

    #experience-ed-title {
      margin: auto 0;
    }
  }

  #truman-logo {
    fill: $dark-grey;
    margin: auto 0 auto auto;
    max-height: 225px;
    padding-bottom: 40px;
    transition: all .4s ease-in-out;
    width: 100%;
  }
  
  #truman-logo:hover {
    fill: $truman-gold;
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - for tablet - */
@media screen and (min-width: $tablet) {
  #experience-work-grid {
    #experience-work-cerner,
    #experience-work-lavner,
    #experience-work-website {
      padding: 40px;
    }
  }

  #experience-work-cerner-logo {
    margin-right: 30px;
  }
}




/* ================================================================ */




/* ------------------- */
/* -                 - */
/* -     MY WORK     - */
/* -                 - */
/* ------------------- */

#work-content {
  /* thumbnails */
  #work-thumbnails-grid {
    grid-gap: 15px;
    padding: 15px 0 0 0;

    .thumbnail {
      float: left;
      max-width: 100%;
      position: relative;
      
      img {
        @include border-radius(5px);
        float: left;
        width: 100%;
      }

      .thumbnail-description {
        align-items: center;
        bottom: 0;
        color: $white;
        display: flex;
        font: italic 700 1.8em/1 $barlow;
        justify-content: center;
        left: 0;
        opacity: 0;
        padding: 15px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
      }
      
      .thumbnail-text {
        text-shadow: 2px 2px 4px rgba(0,0,0,.5);
        transition: all 0.25s ease-in-out;
        @include transform(translateY(-3em));
      }
    }

    .thumbnail::before {
      @include border-radius(5px);
      bottom: 0;
      box-shadow: inset 0 0 10px rgba(0,0,0,.1);
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s ease-in-out;
    }

    .thumbnail:hover::before {
      box-shadow: inset 0 0 125px rgba(0,0,0,1);
    }

    .thumbnail:hover .thumbnail-description {
      opacity: 1;
      visibility: visible;
    }
    
    .thumbnail:hover .thumbnail-text {
      @include transform(translateY(0));
    }
  }

  /* logos */
  #work-logos-grid {
    grid-gap: 25px;
    padding: 38px 15px 15px 15px;

    .work-logo {
      display: inline-block;
      height: 0;
      padding-top: 92.88%;   /* (img-height / img-width * container-width) */
      transition: all 0.2s ease-in-out;
      width: 100%;
    }

    #jujitsuShield {
      background: transparent url("../images/thumbnails/jujitsuShield-300.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    #jujitsuTsunamiB {
      background: transparent url("../images/thumbnails/jujitsuTsunamiB-300.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    #jujitsuBigDogs {
      background: transparent url("../images/thumbnails/jujitsuBigDogs-logo-300.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    #jujitsuBurst {
      background: transparent url("../images/thumbnails/jujitsuBurst-300.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    #jujitsuText {
      background: transparent url("../images/thumbnails/jujitsuText-300.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    #jujitsuTUB {
      background: transparent url("../images/thumbnails/jujitsuTUB-logo-purple-300.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - only for devices with hover - */
@media (any-hover: hover) {
  #work-content {
    #work-logos-grid {
      #jujitsuShield {
        background: transparent url("../images/thumbnails/jujitsuShield-grey-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuShield:hover {
        background: transparent url("../images/thumbnails/jujitsuShield-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      #jujitsuTsunamiB {
        background: transparent url("../images/thumbnails/jujitsuTsunamiB-alt-grey-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuTsunamiB:hover {
        background: transparent url("../images/thumbnails/jujitsuTsunamiB-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuBigDogs {
        background: transparent url("../images/thumbnails/jujitsuBigDogs-alt-grey-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuBigDogs:hover {
        background: transparent url("../images/thumbnails/jujitsuBigDogs-logo-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuBurst {
        background: transparent url("../images/thumbnails/jujitsuBurst-alt-grey-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuBurst:hover {
        background: transparent url("../images/thumbnails/jujitsuBurst-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuText {
        background: transparent url("../images/thumbnails/jujitsuText-grey-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuText:hover {
        background: transparent url("../images/thumbnails/jujitsuText-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuTUB {
        background: transparent url("../images/thumbnails/jujitsuTUB-logo-grey-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  
      #jujitsuTUB:hover {
        background: transparent url("../images/thumbnails/jujitsuTUB-logo-purple-300.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    
    /* preload hover images */
    #work-logos-grid::after {
      content: url("../images/thumbnails/jujitsuShield-300.png")
               url("../images/thumbnails/jujitsuTsunamiB-300.png")
               url("../images/thumbnails/jujitsuBigDogs-logo-300.png")
               url("../images/thumbnails/jujitsuBurst-300.png")
               url("../images/thumbnails/jujitsuText-300.png")
               url("../images/thumbnails/jujitsuTUB-logo-purple-300.png");
      height: 0;
      overflow: hidden;
      position: absolute;
      width: 0;
      z-index :-1;
    }
  }
}

/* - for laptop - */
@media screen and (min-width: $laptop) {
  #work-content {
    #work-thumbnails-grid {
      grid-gap: 25px;
      padding: 25px 0 0 0;
    }

    #work-logos-grid {
      grid-gap: 40px;
      padding: 48px 25px 20px 25px;
    }
  }
}

/* - for large desktop - */
@media screen and (min-width: $desktop-s) {
  #work-content {
    #work-thumbnails-grid {
      grid-gap: 35px;
      padding: 35px 0 0 0;
    }
  }
}




/* ---------------- */
/* -  Work Pages  - */
/* ---------------- */

#work-content {
  #work-grid {
    grid-gap: 40px;

    #work-imgs {
      img {
        margin: 15px 0;
        width: 100%;
      }
    }

    .half {
      margin-left: 25%;
      margin-right: 25%;
    }
  }
}




/* ================================================================ */




/* ------------------- */
/* -                 - */
/* -     CONTACT     - */
/* -                 - */
/* ------------------- */

#contact-grid {
  @include border-radius(10px);
  grid-gap: 0;

  #contact-content {
    background-color: $navy;
    @include border-left-radius(10px);
    padding: 30px;
    vertical-align: middle;

    p {
      color: $light-grey;
    }

    .rounded-button {
      display: block;
    }
  }

  #contact-image-container {
    width: 100%;

    #contact-image {
      @include border-right-radius(10px);
      display: block;
      height: 100%;
      object-fit: cover;
      margin: 0;
      width: 100%;
    }
  }
}


/* ------- */
/*  media  */
/* ------- */

/* - smaller than laptop - */
@media screen and (max-width: $laptop) {
  #contact-grid {
    #contact-content {
      @include border-radius(10px);
    }

    #contact-image-container {
      #contact-image {
        display: none;
      }
    }
  }
}

/* - smaller than large mobile - */
@media screen and (max-width: $mobile-l) {
  #contact-grid {
    #contact-content {
      .rounded-button {
        font-size: 3.35vw;
      }
    }
  }
}
